body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.nav {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    float: right;
    text-align: right;
}

.nav a {
    font-family: neutra, sans-serif;
    margin-left: 25px;
    color: black;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;;
}

.nav a:hover {
    color: #EFB326;
}

.nav_two {
    margin-top: 50px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: black;
    float: right;
    text-align: right;
}

.nav_two a {
    font-family: neutra, sans-serif;
    margin-left: 25px;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;;
}

.nav_two a:hover {
    color: #EFB326;
}

.flex-container {
    padding-top: 100px;
    list-style: none;
    flex-wrap: wrap;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;

}

.flex-item {
    width: 25%;
    height: 25vh;
    min-width: 320px;
    min-height: 300px;
    flex-grow: 1;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
}

.one {
    background-image: url(img/001.png);
    background-size: cover;
}
.two {
    background-image: url(img/002.png);
    background-size: cover;
}
.three {
    background-image: url(img/004.png);
    background-size: cover;
}
.four {
    background-image: url(img/007_404_page.png);
    background-size: cover;
}
.five {
    background-image: url(img/16229322_255245918265260_116544624771727360_n.jpg);
    background-size: cover;
}
.six {
    background-image: url(img/16464091_1784488445149473_2343431145649078272_n.jpg);
    background-size: cover;
}.seven {
    background-image: url(img/16465193_248292208947037_8379815493275484160_n.jpg);
    background-size: cover;
}.eight {
    background-image: url(img/16584850_1224050864330576_4611670797063290880_n.jpg);
    background-size: cover;
}.nine {
    background-image: url(img/4_screens.png);
    background-size: cover;
}.ten {
    background-image: url(img/app_icon.png);
    background-size: cover;
}.eleven {
    background-image: url(img/asterisk.png);
    background-size: cover;
}.twelve {
    background-image: url(img/book_cover_1_dribbble.png);
    background-size: cover;
}.thirteen {
    background-image: url(img/branding_mockup_1_crop.png);
    background-size: cover;
}.fourteen {
    background-image: url(img/daily_ui-003.png);
    background-size: cover;
}.fifteen {
    background-image: url(img/daily_ui_002.png);
    background-size: cover;
}.sixteen {
    background-image: url(img/dailyui_001_sign_up.png);
    background-size: cover;
}.seventeen {
    background-image: url(img/double_whammy_.png);
    background-size: cover;
}.eighteen {
    background-image: url(img/dribbble.png);
    background-size: cover;
}.nineteen {
    background-image: url(img/dribbble_daily_ui.png);
    background-size: cover;
}.twenty {
    background-image: url(img/love-dribbble.png);
    background-size: cover;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }