
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
    font-family: playfair;
    src: url(/fonts/PlayfairDisplayItalic.otf);
}

@font-face {
    font-family: playfairbold;
    src: url(/fonts/PlayfairDisplay-Bold.otf);
}

@font-face {
    font-family: neutra;
    src: url(/fonts/NeutraTextBook.ttf);
}

h1 {
    font-size: 500%;
    color: black;
    margin: 0 0 6px 0;
    font-family: playfairbold, sans-serif;
    letter-spacing: 4px;
}

h2 {
    font-size: 180%;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: neutra, sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h3 {
    font-size: 180%;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: neutra, sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

p {
    font-size: 150%;
    color: black;
    margin: 0; 
    font-weight: 300;
    line-height: 140%;
    font-family: neutra;
}

a {
    text-decoration: none;
    color: #EFB326;
}

.cursive {
    font-family: playfair;
    text-transform: lowercase;
}

.small {
    font-size: 14pt;
}

.large {
    font-size: 44pt;
}

.white {
    color: white;
}

nav {
    z-index: 10;
    right: 0;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    position: fixed;
    background-color: white;
    float: right;
    text-align: right;
}

nav a {
    font-family: neutra, sans-serif;
    margin-left: 25px;
    color: black;
    font-size: 100%;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #EFB326;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.
footer {
    padding-left: 7%;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
    width: 100%;
    background-color: #131313;
    color: white;
}

footer h4 {
    font-size: 1em;
    font-family: neutra; 
    font-weight: 200;
    color: #bbbbbb;
}

footer .bottom-nav li {
    text-decoration: none;
    display: inline;
    padding-right: 10px;
}

footer a {
    color: white;
    font-family: neutra;  
    font-size: 1.2em;
}

footer a:hover {
    color: #EFB326;
}


/*-----Media Queries-----*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px) {
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 100%;
    }
}