body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
    font-family: neutra;
    src: url(fonts/NeutraText-BookAlt.ttf);
}

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 38pt;
    color: black;
    margin: 0 0 6px 0;
    font-family: neutra;
}

h2 {
    font-size: 22pt;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: neutra;
    margin-bottom: 20px;
}

p {
    font-size: 18pt;
    color: black;
    margin: 0; 
    font-weight: lighter;
}

nav {
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    float: right;
    text-align: right;
}

nav a {
    margin-left: 25px;
    color: black;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #EFB326;
}

.section_1 {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: white;
}

.intro {
    padding-left: 100px;
    padding-right: 100px;
}

.section_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.div_50 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-height: 500px;
    min-width: 496px;
    width: 50%;
    height: 100%;
    padding: 40px;
    background-color: #EDEDED;
}

.div_50 p {
    padding-right: 20px;
}

.random_bg_img {
    background-image: url(img/pp_mockup.png);
    background-size: cover;
}

.section_3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100%;
    background-color: #3F4045;
}

.about_me {
    padding: 30px;
    max-width: 800px;
    width: 80%;
    text-align: left;
}

.about_me p {
    color: white;
}

.about_me h2 {
    color: white;
}

/*-----Case Study-----*/

.Case_Study-Section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-image: url(img/pexels-photo-52599.jpeg);
    background-size: cover;
    min-width: 500px;
    min-height: 500px;
    margin-bottom: 50px;
}

.text {
    padding-bottom: 50px;
    min-width: 500px;
    max-width: 70%;
}